@model Order

@{
    ViewData["Title"] = "سبد خرید";
}

@if (Model != null)
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>کالا</th>
                <th>تعداد</th>
                <th>قیمت</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Count</td>
                    <td>@(item.Count * item.Price)</td>
                    <td>
                        <a asp-action="RemoveCart"
                           asp-route-detailId="@item.DetailId">حذف</a>
                    </td>
                </tr>

            }
        </tbody>

    </table>

    <h5>جمع کل : @Model.OrderDetails.Sum(s => s.Count * s.Price)</h5>
}
else
{
    <div class="alert alert-danger">فاکتوری نیست</div>
}

